main {
	min-height: 100vh;
}
.navcolor {
	color: #e83283;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

h3 {
	padding: 1rem 0;
}

hr {
	margin: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}
.cart-pad {
	margin: 1rem 0;
	padding-top: 1rem;
}
